<div>
    <div class="py-10">
        <p class="text-4xl text-center font-bold">Welcome To Wired Courses</p>
        <p class="text-center">Create yout account</p>
    </div>
    <form [formGroup]="userData" (ngSubmit)="registre()" class="flex flex-col gap-4 w-[50vw] mx-auto">
        <input type="text" formControlName="firstname" placeholder="First Name" hlmInput>
        <input type="text" formControlName="lastname" placeholder="Last Name" hlmInput>
        <input type="text" formControlName="age" placeholder="Age" hlmInput>
        <input type="text" formControlName="email" placeholder="Email" hlmInput>
        <input type="password" hlmInput formControlName="password" placeholder="Password">
        <button type="submit" [disabled]="loading" (submit)="registre()" hlmBtn><hlm-icon name="lucideLoader" size="sm" class="mr-2 animate-spin {{ loading ? 'visible': 'hidden'}}" /> Please wait</button>
    </form>
</div>

<router-outlet/>