<div class="dark:bg-zinc-900 border dark:border-zinc-800 bg-white w-full border-zinc-200 p-5 rounded-lg my-4">
    <div class="w-full flex gap-4">
        <hlm-avatar>
            <img src='{{ comment().user.picture }}' hlmAvatarImage />
            <span class='text-white bg-zinc-500' hlmAvatarFallback>RG</span>
        </hlm-avatar>
        <div class="flex-1">
            <p class="font-bold">
                {{ comment().user.firstname + " " + comment().user.lastname }}
            </p>
            <p>
                {{ comment().content }}
            </p>
            <div class="pt-4">
                <div class="flex items-center text-sm text-zinc-400 gap-2">
                    <p class="cursor-pointer hover:text-violet-600" (click)="toggleReplies()">
                        show Replies {{ allComments()[comment().id] ? "(" + allComments()[comment().id].length + ")" : "(0)" }}
                    </p>
                    @if(session){
                        <brn-separator class="bg-zinc-500 h-5" decorative hlmSeparator orientation="vertical" />
                        <p class="cursor-pointer hover:text-violet-600" (click)="toggleInput()">
                            Reply
                        </p>
                        @if(session.id == comment().userId){
                            @if(deleteComment.isPending()){
                                <hlm-icon name="lucideLoaderCircle" size="sm" class="text-red-600 animate-spin ms-auto" />
                            }
                            @else {
                                <button [brnMenuTriggerFor]="menu" class="ms-auto">
                                    <hlm-icon name="lucideEllipsis"></hlm-icon>
                                </button>
                                <ng-template #menu>
                                    <hlm-menu>
                                      <hlm-menu-label>Actions</hlm-menu-label>
                                      <hlm-menu-separator />
                                      <hlm-menu-group>
                                        <button (click)="deleteComment.mutate(comment())" class="hover:bg-red-600/[0.3] cursor-pointer" hlmMenuItem>
                                            <hlm-icon class="text-red-600" size="sm" name="lucideTrash"></hlm-icon>                                        
                                            <p class="text-sm text-red-600 ps-2">Delete</p>
                                        </button>                    
                                      </hlm-menu-group>
                                    </hlm-menu>
                                </ng-template>
                            }
                            
                        }
                    }
                </div>
            </div>
            
            @if(!inputHidden){
                <div class="flex gap-4">
                    <textarea [formControl]="commentContent" class="rounded-full focus:border-zinc-100 focus:border-b-2 focus-visible:ring-offset-0 focus-visible:ring-0 min-h-10 w-full rounded-none border-t-0 border-x-0 border-b-1 focus:ring-0" name="" hlmInput id="" #content placeholder="Enter A Comment"></textarea>
                    <button hlmBtn class="rounded-full" (click)="reply.mutate({comment: {content: content.value, courseId: comment().courseId, parrentId: comment().id}, userId: userId(), isReply: true, parrentId: comment().id})" [disabled]="reply.isPending()">Comment</button>
                </div>
            }
        </div>
    </div>


    <div class="ms-5">
        @if (allComments()[comment().id]) {
            <app-comments-list [comments]="allComments()[comment().id]" [allComments]="allComments()" [classList]="hidden ? 'hidden': 'block'"></app-comments-list>
        }
    </div>
</div>
